.header-app {
  display: flex;
  align-items: center;
  justify-content: space-around;
  .logo {
    cursor: pointer;
  }
  .wrap-menu-item {
    font-size: 24px;
    font-weight: 800;
    .menu-item {
      color: #132f3a;
      text-decoration: none;
      font-family: "Poppins", sans-serif;
    }
  }
  .btn-blue,
  .btn-green {
    padding: 9px 38px;
    font-weight: 700;
    font-size: 20px;
  }
  .btn-blue {
    margin-right: 20px;
  }
}
