<div class="esg-learning-page">
    <div class="esg-learning-page__principles">
        <h4>WHAT IS ESG PRINCIPLES?</h4>
        <hr class="line">
        <div class="esg-learning-page__principles--sub">
            <p> {{'ESG_LEARNING.PRINCIPLES_SUB' | translate}} </p>
            <img src="assets/image/ic_ESG-photo.svg" alt="">
        </div>
    </div>
    <div class="esg-learning-page__environment">
        <h4>ENVIRONMENT FACTOR IN ESG PRINCIPLES</h4>
        <hr class="line">
        <div class="esg-learning-page__principles--sub">
            <p> {{'ESG_LEARNING.ENVIRONMENT_SUB' | translate}} </p>
            <img src="assets/image/ic_environments.svg" alt="">
        </div>
    </div>
    <div class="esg-learning-page__investing">
        <h4>WHAT IS ESG INVESTING?</h4>
        <hr class="line">
        <div class="esg-learning-page__principles--sub">
            <p> {{'ESG_LEARNING.INVESTING_SUB' | translate}} </p>
            <img src="assets/image/ic_investing.svg" alt="">
        </div>
    </div>
</div>